* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
body {
	background-color:palegreen;
	padding: 40px;
}

.general {
	display: flex;
}

.aside {
	width: 400px;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 30px;

}

.photo {
	width: 400px;
}

.info{
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 100px;
	padding-bottom: 100px;

}

.aside__contacts {
	margin-top: 50px;
	margin-left: 45px;
	margin-right: 45px;
}