html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}

body{
	background:  #969;
	font-size: 16px;
	line-height: 120%;
	font-weight: 400;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	
}

a{
	text-decoration: none;
	color: inherit;
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.general__content{
	display: flex;
	justify-content: space-between;
}

.general__img{
	width: 250px;
  height: 250px;
	border-radius: 50%;
	overflow: hidden;

	
}

