html{
	box-sizing: border-box;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}

body{
	background:  #778899;
	font-size: 16px;
	line-height: 120%;
	font-weight: 400;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.subtitle{
	font-size: 24px;
}
.general__content{
	display: flex;
	justify-content: space-between;
}

.general__content-photo{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}

.general__img{
	width: 100%;
	height: 145%;

}

.general__title {
	font-size: 36px;
}

.general__bio{
	max-width: 500px;
}


.code__content{
	max-width: 600px;
}

.footer__content{
	margin-top: 20px;
}

.footer__link{
	font-style: italic;
	margin-top: 20px;
	font-size: 22px;
}

.footer__date{
	margin-top: 20px;
	font-style: italic;
	font-size: 20px;
}

.footer__logo{
	margin-top: 20px;
}


.footer__img{
	max-width: 80px;
	max-height: 80px;
}


